.addNewForm {
  color: var(--color-primary);
  font-size: 1.7em;
  text-align: right;
  margin: 1em;
}

.addNewForm_input {
  border: 0;
  border-bottom: solid 0.12em var(--color-secondary);
  background: transparent;
  font-size: 0.9em;
  outline: 0;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.addNewForm_input:focus {
  border: 0.14em solid var(--color-primary);
}

.addNewForm_button {
  background-color: blue;
}
