.searchForm {
  color: var(--color-primary);
  font-size: 1.6em;
  text-align: right;
  margin: 1em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}

.searchForm_input {
  border: 0;
  border-bottom: solid 0.12em var(--color-secondary);
  background: transparent;
  font-size: 0.9em;
  padding: 0.3em;
  outline: 0;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.searchForm_input:focus {
  border: 0.14em solid var(--color-primary);
}

.searchForm_button {
  margin: 1em 0 0 0;
  padding: 0.5em;
  background-color: var(--button-color-bg);
  color: var(--button-color-text);
  font-family: var(--font-family);
  font-size: 0.9em;
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.searchForm_back {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
