.cardBox_table {
  border-top: solid var(--color-primary) 0.4em;
  border-left: solid var(--color-primary) 0.4em;
  border-bottom: solid var(--color-secondary) 0.4em;
  border-right: solid var(--color-secondary) 0.4em;
  color: var(--color-primary);
  margin: 1em;
  table-layout: fixed;
  width: 90vw;
}

.cardBox_names {
  font-weight: bold;
  text-align: left;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  padding: 0.3em;
}

.cardBox_info {
  text-align: right;
  font-size: 1.2em;
  padding-right: 0.2em;
}

.cardBox_deleteButton {
  border: none;
  background: none;
  position: relative;
  left: 4.5em;
}
