.tableWrapper {
  display: flex;
  flex-direction: column;
  margin: 1em 2em 0 2em;
}

.cardBox_table {
  border-top: solid var(--color-primary) 0.4em;
  border-left: solid var(--color-primary) 0.4em;
  border-bottom: solid var(--color-secondary) 0.4em;
  border-right: solid var(--color-secondary) 0.4em;
  color: var(--color-primary);
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.cardBox_names {
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.2em;
}

.cardBox_info {
  text-align: right;
  margin-right: 0;
}
