.cardBox_table {
  border: solid rgb(122, 97, 181) 0.4em;
  border-radius: 0 1em 1em 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 90%;
}

.cardBox_names {
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.2em;
}

.cardBox_info {
  text-align: right;
  margin-right: 0;
}
