.App {
  text-align: center;
  height: 100vh;
}

.header {
  margin-top: 0;
  background: rgb(27, 24, 92);
  background: linear-gradient(23deg, #1b185c 0%, #7262ac 49%, #00d4ff 100%);
  text-align: center;
  padding: 1em;
  font-size: 3em;
  color: white;
}
