*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: Yanone Kaffeesatz, sans-serif;
}

:root {
  --color-primary: #8f9d97;
  --color-secondary: #909fb690;
}
