.subHeader {
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  font-size: 1.7em;
  color: var(--color-primary);
}

.text {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: var(--color-secondary);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.containerItems {
  border: 0;
  border-bottom: 0.1em solid var(--color-primary);
  outline: 0;
  font-size: 1.6em;
  color: var(--color-primary);
  padding: 0.4em;
  background: transparent;
  margin-bottom: 1.5em;
  font-family: var(--font-family);
}

.containerItems:focus {
  border: 0.14em solid var(--color-primary);
}

.containerButton {
  padding: 1em 4em 1em 4em;
  color: var(--button-color-text);
  background-color: var(--button-color-bg);
  font-family: var(--font-family);
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.addButton {
  position: sticky;
  top: 2em;
  left: 20em;
  border: 0;
  background: 0%;
}

.searchButton {
  position: sticky;
  top: 2em;
  left: 2em;
  border: 0;
  background: 0;
}
