.subHeader {
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  font-size: 1.7em;
  color: #8f9d97;
}

.text {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: #909fb690;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.containerItems {
  border: 0;
  border-bottom: 0.1em solid #8f9d97;
  outline: 0;
  font-size: 1.3rem;
  color: #8f9d97;
  padding: 1em 0;
  background: transparent;
  margin-bottom: 1.5em;
}

.containerItems[input='password']:focus {
  border: solid white 2em;
}

.containerButton {
  padding: 1em 4em 1em 4em;
  background-color: #3a537e;
  color: #d0dad6;
  border: none;
  font-size: inherit;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.addButton {
  position: sticky;
  top: 2em;
  left: 20em;
  border: 0;
  background: 0%;
}

.searchButton {
  position: sticky;
  top: 2em;
  left: 2em;
  border: 0;
  background: 0;
}
