.header {
  margin-top: 0;
  background: rgb(27, 24, 92);
  background: linear-gradient(
    23deg,
    rgba(27, 24, 92, 1) 0%,
    rgba(114, 98, 172, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
  padding: 1em;
  font-size: 3em;
  color: white;
}

.subHeader {
  text-align: center;
  padding: 0.5em;
}

.text {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.containerItems {
  padding: 1em;
  margin-bottom: 1em;
}

.containerButton {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  border-radius: 1em;
  background-color: rgb(27, 24, 92);
  background-image: linear-gradient(
    23deg,
    rgba(27, 24, 92, 1) 0%,
    rgba(114, 98, 172, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}
